@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body{
  overflow: hidden;
}
.App {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  min-height: 100vh;
  /* background-color: #f7f7f7; */
  /* background-color: #ececec; */
  /* background-color: aliceblue; */
}
